version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/javascript-node:24
    volumes:
      - ..:/workspaces/Plactive:cached
    command: sleep infinity
    networks:
      - plactive-network

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: plactive
      POSTGRES_PASSWORD: plactive
      POSTGRES_DB: plactive
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - plactive-network

volumes:
  postgres-data:

networks:
  plactive-network: